<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <nav id="navbar">
            <div id="logo">TODO</div>
            <div id="nav_menu" >
                    <a href="/login">Log In</a>
                    <a href="/signup">Sign Up</a>
            </div>
        </nav>
        <div id="attribution">Photo by <a href="https://unsplash.com/es/@clarktibbs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Clark Tibbs</a> on <a href="https://unsplash.com/photos/oqStl2L5oxI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </div>
    </div>
</body>
</html>