<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <title>TODO</title>
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <h1>TODO</h1>
            <div id="btns">
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>