<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profileStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Profile Page</title>
</head>
<body>
    <div id="wrapper">
        <nav>
            <span id="logo">
                <i class="fa-solid fa-user"></i>
                <span><%=user.username %></span>
            </span>
            <a href="/logout">LOG OUT</a>
        </nav>
        <div id='content'>
            <h1>TODO</h1>
            <form action="/profile/createTask" method="post">
                <input type="text" placeholder="Plan Something..." required autocomplete="off" name="content"> 
                <button type="submit">ADD TASK</button>
            </form>
            <div id="tasks">
                <% for (T of Task){ %>
                    <div class="task"><%= T.content%> <a href="/profile/deleteTask/<%= T._id%>">X</a></div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>