<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signupStyles.css">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
    <title>Signup</title>
</head>
<body>
    <div id="left">
        <q id="quote" cite="https://graciousquotes.com/">Never leave ’till tomorrow which you can do today.</q>
    </div>
    <div id="wrapper">
        <div id="signup_cont">
            <h1>SIGN UP</h1>
            <form action="/signup/createAccount" id="signup_form" method="post">
                <div id="user_inputs">
                    <input type="text" placeholder="User Name" name = 'username' required autocomplete="off">
                    <input type="text" placeholder="Email" name = 'email' required autocomplete="off">
                    <input type="password" placeholder="Password" name="password" required autocomplete="off">
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>