*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#wrapper{
    height:100vh;
    width:100%;
    background-color:#EEEEEE;
    display: flex;
    justify-content: center;
}
#content{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size:6rem;
    margin-bottom:100px;
}

a{
    text-decoration: none;
    padding:30px 45px;
    font-size: 1.5rem;
    color:white;
    background-color:black;
    margin-left:50px;

        &:first-child{
            margin-left:0px;
        }

        &:hover{
            background-color: inherit;
            border:2px solid black;
            color:black
        }
}

// mobiel styles
@media only screen and (max-width: 600px) {

    h1{
        font-size: 5rem;
        margin-bottom:50px;
    }

    #content{
        margin-top: 50px;
    }
    #btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        a{  
            display: flex;
            justify-content: center;
            align-items: center;
            padding:0;
            margin:0;
            width:160px;
            height:80px;
            margin-bottom: 20px;
        }
    }

}