* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  width: 100%;
  background-color: #EEE;
  display: flex;
  justify-content: center;
}

#login_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #678983;
  padding: 40px 60px;
}
#login_form button {
  padding: 10px 50px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
}

#login_cont {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#login_cont #user_inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#login_cont #user_inputs input {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: black;
  background-color: inherit;
  border: 2px solid black;
  margin-bottom: 30px;
}
#login_cont #user_inputs input::placeholder {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 4rem;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  #login_form {
    padding: 0;
    border: none;
  }
  #login_cont #user_inputs input {
    font-size: 1.2em;
  }
  #login_cont #user_inputs input::placeholder {
    font-size: 1em;
  }
}